<!DOCTYPE html>
<html lang="en">
<head>
    <!--Icono de Facebook-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
</head>

<body>
    <!-- Site footer -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-3 vcenter">
                    &copy; 2021 Coprovis
                </div><!--
             --><div class="col-xs-3 vcenter" style="text-align: center;">
                    <a href="mailto:admin@coprovis.com.ar" title="admin@coprovis.com.ar">
                        <h2><i class="glyphicon glyphicon-envelope"></i></h2></a>
                </div><!--
             --><div class="col-xs-3 vcenter"  style="text-align: center;">
                    <a href="https://www.facebook.com/Coprovis-1036069989767776/timeline?ref=page_internal"
                       target="_blank" title="Coprovis en Facebook">
                        <h2><i class="fa fa-facebook"></i></h2></a>
                </div><!--
             --><div class="col-xs-3 vcenter"  style="text-align: right;">
                    maravape &copy;
                </div>
            </div>
        </div>
    </footer>
</body>
</html>