<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Custom styles for this template -->
    {% load staticfiles %}
    <title>Coprovis</title>
    <link rel="icon" href="{% static 'css/base/images/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base/index.css' %}">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!--Paginación-->
    <script>
        $(document).ready(function() {
            $("#li_res").attr('class', 'active');
        });
    </script>

    <!--Google Fonts-->
    <!--<link href='https://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>-->
    <link href='https://fonts.googleapis.com/css?family=Old+Standard+TT:700' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="container">
        {% include "base/navbar.html" %}

        <div class="jumbotron">
            <h1 style="font-family: 'Old Standard TT', serif;">Nosotros tomamos la decisión! Y tú?</h1>
            <!--<h1 style="font-family: 'Abril Fatface', cursive;">Decisión &#187; Convicción &#187; Resultados</h1>-->
            <!--<h1 style="font-family: 'Old Standard TT', serif;">Decisión &#187; Convicción &#187; Resultados</h1>-->
        </div>

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicadores -->
            <ol class="carousel-indicators">
                {% for i in fotos_res %}
                    {% if i.0 == "0" %}
                        <li data-target="#myCarousel" data-slide-to={{ i.0 }} class="active"></li>
                    {% else %}
                        <li data-target="#myCarousel" data-slide-to={{ i.0 }}></li>
                    {% endif %}
                {% endfor %}
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                {% for i in fotos_res %}
                    {% if i.0 == "0" %}
                        <div class="item active">
                    {% else %}
                        <div class="item">
                    {% endif %}
                            <img src="{% static 'css/base/images/'|add:i.1|add:'.jpg' %}" alt={{ i.2 }} style="margin: auto; width: auto; height: 450px; max-height: 450px;"/>
                            <div class="carousel-caption">
                                <h3>{{ i.2 }}</h3>
                            </div>
                        </div>
                {% endfor %}
            </div>

            <!-- Controles Left - right -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>

        {% include "base/footer.html" %}

    </div>
</body>
</html>