<head>
    <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->
</head>

<body style="background-color: lightgray;">
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="background-color: lightgray;" id="bodyTable">
    <tr>
        <td align="center" valign="top">
            <table border="0" cellspacing="0" width="700" style="background-color: white; padding: 10px 25px 10px 25px;" id="emailContainer">
                <tr>
                    <td align="center" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="emailHeader">
                            <tr>
                                <td align="center" valign="top" style="color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 24px; font-weight: bold; padding: 15px;">
                                    {{ nombre }}, {% if sexo == 'F' %}bienvenida{% else %}bienvenido{% endif %} a Coprovis!
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size: 16px; color: #333333;" id="emailBody">
                            <tr>
                                <td align="center" valign="top" style="text-align: justify; padding-top: 10px;">
                                    Nos sentimos realmente entusiasmados porque has tomado la decisión de ocuparte de tu salud y de compartirla con las personas que más amas!
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" style="text-align: justify; padding-top: 10px;">
                                    Queremos invitarte a que generes una clave de acceso para ingresar a tu cuenta en <strong><a href="http://www.coprovis.com.ar">www.coprovis.com.ar</a></strong>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" style="text-align: justify; padding-top: 10px;">
                                    Con tu cuenta en Coprovis podrás acceder a tu plan nutricional y monitorear tu proceso de descenso de peso. También dispondrás de material multimedia que te motivará a seguir cuidando de lo más importante que es tu salud!
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" style="text-align: justify; padding-top: 10px;">
                                    Nada más completa el proceso dando clic en el botón que aparece a continuación donde será solicitado tu E-Mail.
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" style="padding-top: 20px;">
                                    <table border="0" cellpadding="0" cellspacing="0" style="background-color:#428bca; border:1px solid #428bca; border-radius:5px;">
                                        <tr>
                                            <td align="center" valign="middle" style="color:#428bca; font-family:Helvetica, Arial, sans-serif; font-size:18px; font-weight:bold; letter-spacing:-.5px; line-height:150%; padding-top:15px; padding-right:30px; padding-bottom:15px; padding-left:30px;">
                                                <a href="http://www.coprovis.com.ar/admin/password_reset/" target="_blank" style="color:#FFFFFF; text-decoration:none;">Generar Clave de Acceso!</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" style="text-align: justify; padding-top: 20px;">
                                    <p style="text-align: left;">Te deseamos muchos éxitos.</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size: 16px; color: #333333;" id="emailFooter">
                            <tr>
                                <td align="center" valign="top" style="text-align: justify; padding-top: 20px;">
                                    <img align="left" height="80" src="cid:logo">
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" style="text-align: justify; padding-top: 10px;">
                                    Equipo Coprovis.
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>