<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Custom styles for this template -->
    {% load staticfiles %}
    <title>Dayenu</title>
    <link rel="icon" href="{% static 'css/base/images/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base/index.css' %}">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!--Paginación-->
    <script>
        $(document).ready(function () {
            $("#li_ind").attr('class', 'active');
        });
    </script>

    <!--Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
    <!--Icono de Facebook-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
</head>

<body>

    <div class="container">

            <div class="masthead">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-3">
                            <a href="{% url 'base:index' %}"><img class="img-responsive" src="{% static 'css/base/images/Coprovis.png' %}" alt="Coprovis" id="brand" style="max-width: 100px;"/></a>
                        </div>
                        <div class="col-xs-9">
                            <h3 class="text-muted pull-right" style="font-family: 'Lobster', cursive;">
                                <span class="glyphicon glyphicon-user"></span>
                                {% if user.is_authenticated %}
                                    {{ request.user.first_name }}
                                {% else %}
                                    Invitado
                                {% endif %}
                                <button type="button" class=" btn btn-xs btn-primary" data-toggle="collapse" data-target="#myNavbar" id="menu-btn">
                                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                                </button>
                            </h3>
                        </div>
                    </div>
                </div>

                <nav class="navbar">
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav nav-justified">
                            {% if user.is_authenticated %}
                                <li id="li_mat"><a href="{% url 'base:material' %}">Material</a></li>
                                <li id="li_des"><a href="{% url 'base:descenso' %}">Descenso</a></li>
                                <li id="li_chat"><a href="{% url 'base:chats' %}">Chats</a></li>
                                <li id="li_acc"><a href="{% url 'base:cuenta' %}">Cuenta</a></li>
                                {% if user.is_staff %}
                                    <li id="li_adm"><a href="{% url 'base:control' %}">Admin</a></li>
                                {% endif %}
                                <li id="li_lout"><a class="a_last" href="{% url 'base:logout' %}">Salir</a></li>
                            {% else %}
                                <li id="li_ind"><a href="{% url 'base:index' %}">Inicio</a></li>
                                <li id="li_com"><a href="{% url 'base:comunidad' %}">Comunidad</a></li>
                                <li id="li_res"><a href="{% url 'base:resultados' %}">Resultados</a></li>
                                <li id="li_con"><a href="{% url 'base:contacto' %}">Contacto</a></li>
                                <li id="li_ask"><a href="{% url 'base:preguntas' %}">Preguntas</a></li>
                                <li id="li_lin"><a class="a_last" data-toggle="modal" href="#myModal">Ingresar</a></li>

                                <div class="modal fade" id="myModal" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Ingresar como</h4>
                                            </div>
                                            <div class="modal-body">

                                                {% if  messages %}
                                                    {% for message in messages %}
                                                        {% if message.tags == "error" %}
                                                            <div class="alert alert-danger fade in">
                                                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                                <strong>{{ message }}</strong>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}

                                                {% crispy forma %}
                                            </div>

                                            <div class="modal-footer">
                                                <div class="pull-left"><a href="{% url 'admin_password_reset' %}">Restablecer Password</a></div>
                                                <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            {% endif %}
                        </ul>
                    </div>
                </nav>

            </div>

        <!-- Jumbotron -->
        <div class="jumbotron">
            <img class="img-responsive" src="{% static 'css/base/images/Coprovis.png' %}" alt="Coprovis" style="margin: auto;"/>
            <p class="lead"><strong>Somos saludables! Somos Coprovis!!!</strong></p>
            <p class="lead">Únete a nuestra comunidad y comienza con la vida saludable que mereces. Te ayudamos a dar ese primer paso.</p>
            <p><a class="btn btn-lg btn-success" href="{% url 'base:contacto' %}" role="button">Da el primer paso hoy!</a></p>
        </div>

        <!--Frases-->
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicadores -->
            <ol class="carousel-indicators">
                {% for i in frases %}
                    {% if i.0 == "0" %}
                        <li data-target="#myCarousel" data-slide-to={{ i.0 }} class="active"></li>
                    {% else %}
                        <li data-target="#myCarousel" data-slide-to={{ i.0 }}></li>
                    {% endif %}
                {% endfor %}
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                {% for i in frases %}
                    {% if i.0 == "0" %}
                        <div class="item active">
                    {% else %}
                        <div class="item">
                    {% endif %}
                            <div class="jumbotron" style="display: flex; align-items: center; height: 150px;"><h3 style="margin: auto; font-family: 'Handlee', cursive; color: #006076;">
                                {{ i.1 }}
                            </h3></div>
                        </div>
                {% endfor %}
            </div>

            <!-- Controles Left - right -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>

        <!-- row of columns -->
        <div class="row" style="padding-top: 20px;">
            <div class="col-lg-4">
                <h2>Misión</h2>
                <p style="text-align: justify;">Ayudar al control de la obesidad bajo el concepto de enfermedad a través de la aprehensión de un programa
                    de vida saludable que logra establecer hábitos alimenticios que sean sostenibles en el tiempo fomentando
                    una cultura de prevención y cuidado integral de la persona.</p>
                <!--<p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>-->
            </div>
            <div class="col-lg-4">
                <h2>Visión</h2>
                <p style="text-align: justify;">Ser reconocidos como la comunidad más efectiva en la guía y acompañamiento durante el desarrollo de un
                    programa integral que impacte positivamente en la calidad de vida de sus miembros.</p>
                <!--<p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>-->
            </div>
            <div class="col-lg-4">
                <h2>Valores</h2>
                <p style="text-align: justify;">Integridad, compromiso, empatía, trabajo en equipo, solidaridad, perseverancia, ética.</p>
                <!--<p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>-->
            </div>
        </div>

        <!-- Site footer -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-3 vcenter">
                        &copy; 2016 Coprovis
                    </div><!--
                 --><div class="col-xs-3 vcenter" style="text-align: center;">
                        <a href="mailto:admin@coprovis.com.ar" title="admin@coprovis.com.ar">
                            <h2><i class="glyphicon glyphicon-envelope"></i></h2></a>
                    </div><!--
                 --><div class="col-xs-3 vcenter"  style="text-align: center;">
                        <a href="https://www.facebook.com/Coprovis-1036069989767776/timeline?ref=page_internal"
                           target="_blank" title="Coprovis en Facebook">
                            <h2><i class="fa fa-facebook"></i></h2></a>
                    </div><!--
                 --><div class="col-xs-3 vcenter"  style="text-align: right;">
                        ATIlion &copy;
                    </div>
                </div>
            </div>
        </footer>

    </div> <!-- /container -->

</body>
</html>
